.sponsor--row td:first-child {
  font-family: 'Montserrat', sans-serif;
}

.sponsor--row:hover {
  cursor: pointer;
}

.sponsor--row:hover td {
  background-color: #ffb30d !important;
}

/* .sponsor--row-info__true{

}

.sponsor--row-info__false{

} */
