.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("/images/server.jpg");
  background-position: center;
}

.intro .image-container {
  width: 70%;
  max-width: 800px;
  height: 600px;
}

.intro .image-container img {
  width: 100%;
}
