.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* background-image: url('/images/reykjavik-tabea-damm-unsplash.jpg'); */
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.intro .image-container {
  width: 70%;
  max-width: 800px;
  max-height: 300px;
  /*max-height: 80%;*/
  background-color: rgb(255, 255, 255, 0.9);
  transition: background-color 0.25s ease;
}

.intro .image-container:hover {
  background-color: rgb(255, 255, 255);
}

.intro .image-container img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .intro .image-container {
    background-color: rgb(255, 255, 255);
  }
}
