.faq__total {
  margin-bottom: 2em;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  /* max-width: 1200px; */
  align-items: center;
}
.faq__main__header {
  font-size: 2.5em;
  padding: 30px 0 0 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .faq__total {
    margin-top: 105px;
  }
}
