.sponsor__content .sponsor_current .sponsor__current--header {
  color: #ffb30d;
  font-size: 2em;
  font-weight: 800;
  margin-top: 60px;
  margin-bottom: -15px;
}

.sponsor__content .sponsor_current div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sponsor__content .sponsor_current .sponsor__reboot div {
  width: 180px;
  height: 180px;
  margin: 15px;
}

.sponsor__content .sponsor_current .sponsor__restart div {
  width: 160px;
  height: 160px;
  margin: 15px;
}

.sponsor__content .sponsor_current .sponsor__reload div {
  width: 100px;
  height: 100px;
  margin: 15px;
}

.sponsor__content .sponsor_current .sponsor__other div {
  width: 90px;
  height: 90px;
  margin: 15px;
}

@media screen and (max-width: 800px) {
  .sponsor__content .sponsor_current .sponsor__reboot div {
    width: 120px;
    height: 120px;
  }

  .sponsor__content .sponsor_current .sponsor__restart div {
    width: 100px;
    height: 100px;
  }

  .sponsor__content .sponsor_current .sponsor__reload div {
    width: 80px;
    height: 80px;
  }
}

/* .sponsor__content .sponsor_current .sponsor__restart img {
  width: 150px;
  height: 100%;
  margin: 15px;
}

.sponsor__content .sponsor_current .sponsor__reload img {
  width: 100px;
  height: 100%;
  margin: 15px;
} */
