.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.card .card__image {
  width: 80%;
  margin: 10px;
}

.card .card__image img {
  width: 100%;
  min-width: 10px;
  max-width: 200%;
  border-radius: 50%;
}

.card .card__text .card__name {
  color: #625892;
  font-size: 1.2em;
  font-weight: 800;
  margin: 10px 0;
}

.card .card__text .card__info {
  font-size: 1em;
}
