.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  border: 1px solid black;
}

.card .card__image {
  height: 150px;
  background-color: pink;
}

.card .card__text {
  height: 150px;
}
