.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  transition: transform 0.3s;
  /*border: 1px solid #9186c660;*/
  box-shadow: 5px 5px 20px 1px #9186c6;
}

.card .card__image {
  height: 150px;
  background-color: pink;
  overflow: hidden;
}

.card .card__image img {
  height: auto;
}

.card .card__text {
  padding: 15px;
}

.card:hover,
.card:focus {
  transform: scale3d(1.01, 1.01, 1);
}

.card:hover::after,
.card:focus::after {
  opacity: 1;
}
