.question__answer {
  display: flex;
  flex-flow: column wrap;
}

.question {
  padding: 1em;
  padding-bottom: 0;
  text-align: left;
  margin: 0;
}

.answer {
  padding: 1em;
  text-align: left;
}

a {
  color: black;
}