.navbar {
  background-color: #625892;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navbar .navbar--item {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

.navbar .navbar__left {
  padding-left: 20px;
}

.navbar .navbar__left .anchor__home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.navbar .navbar__left .anchor__home span {
  color: #ffb30d;
}

.navbar .navbar__left .anchor__home img:nth-child(1) {
  height: 100%;
  width: 44px;
}

.navbar .navbar__left .anchor__home img:nth-child(2) {
  height: 100%;
  width: 210px;
  margin-right: 10px;
}

.navbar .navbar__right {
  justify-content: flex-end;
  padding-right: 20px;
}

.navbar .navbar__right .button {
  width: 80px;
  height: 100%;
  border: none;
  color: #d9d5f1;
  text-decoration: none;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: color 0.2s ease-in;
  margin-right: 20px;
  padding: 0 10px;
}

.navbar .navbar__right .button:hover {
  color: #ffb30d;
}

.navbar .navbar__right .button__register {
  background-color: #ffb20dc7;
  color: white;
  transition: background-color 0.2s ease-in;
}

.navbar .navbar__right .button__register:hover {
  background-color: #ffb20dec;
  color: white;
}

p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .navbar .navbar__left .anchor__home img:nth-child(2) {
    display: none;
  }

  .navbar .navbar__right .button {
    margin-right: 0;
  }

  .navbar .navbar__left {
    padding-left: 10px;
  }

  .navbar .navbar__right {
    padding-right: 5px;
  }


}
