.navbar {
  background-color: #ffb30d;
  height: 40px;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar .navbar--item {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.navbar .navbar__left {
  padding-left: 20px;
}

.navbar .navbar__right {
  justify-content: flex-end;

  padding-right: 20px;
}

.navbar .navbar__right .button__register {
  width: 80px;
  height: 100%;
  border: none;
  background-color: #625892;
  color: #d9d5f1;
  text-decoration: none;
  height: auto;
  padding: 3px 0;
}

p {
  margin: 0;
}
