.footer {
  background-color: rgb(87, 83, 82);
  color: #dfdfdf;
}

.footer .footer--sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  padding-top: 20px;
}

.footer .footer--sponsors .footer--sponsors-img {
  /* max-height: 100px; */
  margin: 2%;
  padding: 0;
  width: 29%;
  /* max-width: 200px; */
}

.footer .footer--sponsors-img img {
  /* max-height: 90px; */
  width: 100%;
}

@media screen and (min-width: 470px) {
  .footer .footer--sponsors {
    max-width: 730px;
  }

  .footer .footer--sponsors .footer--sponsors-img {
    /* max-height: 100px; */
    display: flex;
    align-items: flex-end;
    width: 15%;
    /* max-width: 200px; */
  }

  .footer .footer--sponsors-img img {
    /* height: 90px; */
    /* width: 100%; */
  }
}

.footer .footer--sponsors .footer--sponsors-img > div {
  /* width: 80%;
  padding: 10%;
  margin: 0 auto; */
}

.footer .footer--info {
  padding: 20px 0;
}

.footer .footer--info .footer--email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .footer--info .footer--email button {
  padding: 5px;
  border: 0;
  width: 200px;
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  color: #dfdfdf !important;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer .footer--info .footer--email .footer-copy-text {
  color: #ffb20d00;
  transition: color 0.2s ease-out;
  /* transition-timing-function: ease-out; */
}

.footer .footer--info .footer--email button:hover + .footer-copy-text {
  /* visibility: visible; */
  color: #ffb30d;
  /* transition-timing-function: ease-out; */
}

.footer .footer--info img {
  padding-top: 10px;
}
