@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  line-height: 1.5em;
  color: #2e2e2e;
  background-color: #f8f7f5;
}

h1,
h2,
h3,
th {
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  color: #625892;
}

a {
  text-decoration: none;
}

/*@media screen and (min-width: 600px)*/
