.sponsor__content {
  max-width: 1000px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
}

.sponsor__content .sponsor__header {
  /* color: #625892; */
  font-size: 2em;
  padding: 20px 0;
  margin: 0;
  margin-top: 70px;
}

.sponsor__content .sponsor__header--main {
  font-size: 2.5em;
}

.sponsor__content .sponsor__main__header {
  font-size: 2.5em;
  margin: 0 auto;
  padding: 40px 0;
  max-width: 800px;
  text-align: center;
}

span {
  color: #625892;
}

.sponsor__content .sponsor__table-header--category th {
  color: #ffb30d;
  font-size: 1.7em;
  font-weight: 800;
}

.sponsor__content .sponsor__table-header--price {
  background-color: #9186c6;
}

.sponsor__content .sponsor__table-header--price th {
  color: white;
  font-family: sans-serif;
  font-size: 1.5em;
}

.sponsor__content .sponsor__table tr {
  height: 50px;
}

.sponsor__content .sponsor__table .sponsor--row td:nth-child(1) {
  background-color: #9186c6;
  color: white;
  width: 34%;
  padding-left: 10px;
  text-align: left;
}

.sponsor__content .sponsor__table tr td:not(:first-child) {
  background-color: #d9d5f1;
  color: #625892;
  font-family: sans-serif;
  font-weight: bold;
}

.sponsor--row-info__true td {
  padding: 10px;
  background-color: #625892;
  color: white;
  text-align: left;
}

.sponsor__content .sponsor__table-header--price th:nth-child(1) {
  padding-left: 10px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.sponsor__content .sponsor__table tr *:not(:first-child) {
  width: 22%;
}

.sponsor__content .team-text {
  padding: 10px;
}

.sponsor__content .team-text .team-about {
  display: flex;
  flex-direction: column;
}

.sponsor__content .team-text .team-photo {
  width: 100%;
  height: 100%;
}

.sponsor__content .additional__info {
  width: 94%;
  padding: 10px 3%;
}
.sponsor__content .additional__info__second {
  width: 94%;
  padding: 100px 3% 10px 3%;
}

@media screen and (min-width: 700px) {
  .sponsor__content .team-text .team-about {
    display: flex;
    flex-direction: row;
  }

  .sponsor__content .team-text .team-photo {
    width: 50%;
    max-width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .sponsor__content .sponsor__table {
    font-size: 12px;
  }

  .sponsor__content .sponsor__table tr *:not(:first-child) {
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
  }
  .sponsor__content .sponsor__table-header--price th {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 415px) {
  .sponsor__content .sponsor__table-header--category th {
    font-size: 1em;
  }

  /*.sponsor__content .sponsor__table tr td:nth-child(1) {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }*/
}
